<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/styles/main.scss.css' />
	</head>
	<body>
		<nav id='nav'></nav>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<main id='main'></main>
		<script type="text/javascript" src="/scripts/bundle.js"></script>
		<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
	</body>
</html>
